<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

    <meta charset="UTF-8">
    <title>LoveMessenger</title>
</head>
<body>

    <div>
            <h1>LoveMessenger</h1>
            <form action = "submit" method="post"> {% csrf_token %}
                <input type="text" name ="email">
                <input type = "submit" value = "submit">
            </form>
        <h2> Please enter a valid email</h2>
    </div>

</body>
</html>